body{
    display: grid;
    grid-template-areas: 'h h h h'
                         'a a a a'
                         'm m m m'
                         'm m m m';
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    background-color:  #F5F7FA;
    margin: 0;
    height: 97vh;
}



header{
    grid-area: h;
    display: flex;
    background-color: rgba(0, 61, 166, 0.878);
}

.hizq{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.hder{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}



aside{
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}




main{
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    height: 90%;
    
    gap: 10px;
}

.cartas{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 7px;
}

.estado{
    display: flex;
    justify-content: space-between;
}



.areat{
    width: 90%;
}

.medioab{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 10px;
}


footer{
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contf{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 60%;
    height: 90%;
    border-radius: 7px;
}

.finf{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
  .zona-roja { 
    background: #FDECEA; 
    border: 1px solid #f3b8b2; 
    padding: 12px; 
    border-radius: 8px; 
    display: flex;
    grid-column: 1 / -1;  
    align-items: center;
  }
  .sub-azul { 
    background: #EBF2FB; 
    color: #1A4B7A; 
}
  .sub-verde { 
    background: #E8F5EE; 
    color: #2E8B57; 
}
  .sub-rojo { 
    background: #FDECEA; 
    color: #C0392B; 
}
  .sub-amarillo { 
    background: #faecbb; 
    color: #7D5A0A; 
}

@media(min-widith: 1024px){
    body{
    display: grid;
    grid-template-areas: 'h h h h'
                         'a a a a'
                         'm m m m'
                         'm m m m';
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    background-color:  #F5F7FA;
    margin: 0;
    height: 97vh;
}



header{
    grid-area: h;
    display: flex;
    background-color: rgba(0, 61, 166, 0.878);
}

.hizq{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.hder{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}



aside{
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}




main{
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 90%;
    
    gap: 10px;
}

.cartas{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 7px;
}

.estado{
    display: flex;
    justify-content: space-between;
}



.areat{
    width: 90%;
}

.medioab{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 10px;
}


footer{
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contf{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 60%;
    height: 90%;
    border-radius: 7px;
}

.finf{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
  .zona-roja { 
    background: #FDECEA; 
    border: 1px solid #f3b8b2; 
    padding: 12px; 
    border-radius: 8px; 
    display: flex;
    grid-column: 1 / -1;  
    align-items: center;
  }
  .sub-azul { 
    background: #EBF2FB; 
    color: #1A4B7A; 
}
  .sub-verde { 
    background: #E8F5EE; 
    color: #2E8B57; 
}
  .sub-rojo { 
    background: #FDECEA; 
    color: #C0392B; 
}
  .sub-amarillo { 
    background: #faecbb; 
    color: #7D5A0A; 
}
}