body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    background-color: rgb(162, 162, 162);
}

#ini{
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 80px;
    border-radius: 5%;
}


.formu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn{
    height: 23px;
    width: 80px;
}

.mov{

    padding-right: 13px;
}
