body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    background-color: rgb(162, 162, 162);
}

.login-form {
    background-color: #eaeaea;
    padding: 40px;
    border-radius: 5%;
}